@import 'bootstrap/bootstrap-grid.scss';
@import 'bootstrap/bootstrap-reboot.scss';

.nav {
    width:1000px;
    height:500px;
    margin:0 auto;
    
   
}
     
         .picture {
         width:100%;
         border: 1px solid blue;
         }
         .main {
            display:flex;
            justify-content:left;
            margin-top:-500px;
            position:relative;
            padding-left:150px;

                        
        .logo {
             margin-left:-30px;

            .vector {
                               
                width:50%;
            }

        }       

                    
        .text {
             font-size:10px;
            padding-right:35px;
            text-decoration: underline;
                            
                &.red {
                    color:red;
                }
                &.white {
                     color:white;

                 }
         }


                        .language {
                            padding-left:500px;
                            margin-top:-20px;
                            font-size: 8px;
                                .font {
                                    text-decoration: none;
                                    color:white;
                                    padding-left:10px;
                                        &.ru{
                                            color:red;
                                        }
                                        
                                }

                        }

                    }                
            
        
        .menu {
            display:flex;
            justify-content:start;
            align-items:center;
            padding-left:120px;
            padding-top:20px;
            position:relative;

                .links {
                    font-size:12px;
                    
                    
                    
                        .sub {
                            text-decoration: none;
                            text-transform: uppercase;
                            padding-right:10px;
                            color:white;
                            font-weight:bold;

                        }

                }
                .number {
                    font-size:12px;
                    color:white;
                    padding-left:350px;
                    
                    

                    &.tel{
                        margin-top:-30px;
                        font-size:22px;
                        padding-right:15px;
                        padding-left:90px;
                        

                    }

                    &.instruction {
                        font-size:8px;
                        padding-left:43px;
                       
                        
                        
                    }

                }
                .number.internet {
                    padding:10px;
                    background-color:rgb(243, 92, 117);
                    border-radius:5px;
                    font-size:8px;
                    margin-top:-20px;          

                }

        }
        



.platinum {
    padding-left:120px;
}

    

    
        .neo {
            width:30%;
            padding-top:40px;
        }
        .card {
            width:25%;
            padding-top:40px;
            padding-bottom:10px;
        }
        .details {
            font-size:10px;
            color:rgb(133, 125, 125);
            

        }


.item {
    
    padding-top:40px;
    
        .rectangle {
            padding:10px;
            background-color:rgb(255, 103, 129);
            text-decoration:none;
            font-size:12px;
            color:white;
            padding-left:20px;
            padding-right:20px;
            border-radius:5px;
            
            
        }    
        .additional {
            font-size:8px;
            color:rgb(255, 103, 129);
            padding-left:20px;
        }
}           
           
.circle {
    display:flex;
    position:absolute;
    
    padding-top:30px;

    .pink {
        background: rgb(255, 103, 129);
        border-radius:50%;
        border:5px solid  rgb(255, 103, 129);
        
    }
    .dote {
        margin-top:3px;
        background:white;
        border-radius:50%;
        width:5px;
        height:5px;
        margin-left:10px;
        
              
    }
    
}
.body {
       padding-top:50px;
       height:1600px;       
       padding-left:10px;
       border:1px solid #ddd;
        h1{
            text-transform: uppercase;
        }
        .header{
            padding-left:100px;

        }
        .transaction{
            font-size:10px;
            font-weight:bold;
        }
        .flag {
            position:absolute;
            padding-top:20px;
            padding-left:120px;
         
          
          
            .left{
                margin-top:-28px;
                margin-left:-20px;
            }
            .conjuction {
                margin-top:-58px;
            }
            .right {
                margin-top:-87px;
                margin-left:-20px;
            }
            .conjuction_1 {
                margin-top:-110px;
            }
            .base {
                margin-top:-145px;
                margin-left:-8px;
            }
            .transfer{
                margin-left:-20px;
                margin-top:-60px;
                margin-bottom:60px;
                    
            }

        } 
        
        .mountain {
            padding-left:270px;
            
            .red {
                padding-top:15px;
            }
            .stick{
                margin-top:-18px;
            }
            .hill {
                margin-left:-12px;
                margin-top:-33px;
            }    
            .one{
                margin-top:-40px;
                margin-left:-20px;
               
              
            }
            .hill.two {
                margin-top:-32px;
            }
            .debit {
                margin-top:5px;
                margin-left:-10px;
                margin-bottom:-5px;
            }
        }   

        .rocket {
            padding-left:400px;
            padding-top:35px;
            position:relative;

            .image {
                position:absolute
            }
            .window{
                margin-top:10px;
                margin-left:-15px;
                z-index:10;
            }
            .wing {
                margin-top:20px;  
                z-index:20;

                &.wing-left {
                    margin-left:-27px;
                }

                &.wing-right{
                    margin-left:-3.5px;

                }
                   
            }
            .leg {

                margin-top:35px;
                &.leg-left{
                   margin-left:-25px; 
                }
                &.leg-right{
                    margin-left:-8px;
                }

            }
            .payment{
                margin-top:35px;
                margin-bottom:-35px;
                
                
            }
            
            .iphone {
                margin-top:-250px;
                width:110%;
            }    
            
        }
        .store {
            text-decoration: none;
            margin-left:90px;
            position:absolute;
            .play {
                width:30%;
                margin-top:-300px;   
            }
        }
        .button {
            background: rgb(255, 103, 129);
            padding:10px;
            padding-left:20px;
            padding-right:20px;
            border-radius:5px;
            text-decoration: none;
            font-size:10px;
            color:white;
            margin-top:-100px;
            position:absolute;
            margin-left:90px;
            
        }

        .render {
            padding-left:80px;
            padding-top:20px;

            .banner {
                display:flex;
            }
            .cap {
                padding-left:350px;  
            }
            .currency {
                font-size:10px;
                text-decoration: none;
                color:grey;
                padding-right:50px;
            }
            .cash{
               position:absolute;
            }
            .money {
                font-size:12px;
                padding-top:30px;      
            }
            .dollar {
                width:9px;
                height:9px;
                margin-top:-5px;
            }
            .coin{
                font-weight:bold;
                font-size:13px;
              
            }
            .value{
              padding-left:10px;
            }
            .rubl{
                padding-left:20px;
            }
            .any_bank{
                font-size:14px;
                color:grey;
            }
            .clock {
               position:relative;
               margin-top:0px;
               width:100px;
               height:101px;
               border-radius:33% 67% 30% 70% / 67% 37% 63% 33%;
               border:1px solid grey;  
               

                        .detail{
                            position:absolute;
                        }
                        .round{
                            padding-left:30px;
                            padding-top:25px;
                        }
                        .round-point {
                            padding-left:34px;
                            padding-top:29px;
                            
                        }
                        .arrow2{
                            padding-left:44px;
                            padding-top:47px;
                        }
                        .arrow {
                            padding-left:47px;
                            padding-top:37px;
                        }
                        .whet{
                            padding-left:49px;
                            padding-top:47px;
                        }
                        .fast {
                            font-size:10px;  
                            padding-top:120px;
                            width:120px;
                        }
            }
            .mobile {
                border:1px solid grey;
                border-radius:20% 80% 38% 62% / 24% 48% 52% 76%;
                width:100px;
                height:101px;
                margin-left:160px;
                margin-top:-100px;

                    .carcas{
                        padding-left:35px;
                        padding-top:25px;
                    }
                    .line{
                      margin-top:-5px;  
                      margin-left:-20px;
                    }
                    .line-power{
                        margin-top:40px;
                        margin-left:-20px;
                    }
                    .line-power2{
                        margin-top:36px;
                        margin-left:-4px;
                    }
                    .line-power3{
                        margin-top:31px;
                        margin-left:-4px;
                    }
                    .line-power4{
                        margin-top:26px;
                        margin-left:-4px;
                    }
                    .pin {
                        margin-top:58px;
                        margin-left:-18px;
                    }
                    .free-trans{
                        margin-top:52px;
                        width:120px;
                        font-size:10px;
                    }
                    .except{
                        margin-top:-10px;
                        font-size:8px;
                        width:100px;
                        color:rgb(187, 184, 184);
                 
                    }    
            }     
            .label {
               border:1px solid grey;
               border-radius:48% 52% 50% 50% / 51% 44% 56% 49%;
               width:100px;
               height:101px;
               margin-left:150px;
               margin-top:-190px;

                    .tag{
                        padding-top:30px;
                    }
                    .frame {
                        padding-left:35px;   
                      
                    }    
                    .side {
                       margin-left:-30px;
                    }
                    
                    .dart{
                        padding-top:55px;
                       
                    }
                    .dart-down{
                        padding-top:30px;
                        margin-left:-32px;
                    }
                    .par{
                        font-size:10px;
                        padding-top:44px;

                    }
            }
            

            
        }
        .online {
            padding-top:70px;
            padding-left:80px;
            

            .without-commision{
                font-size:14px;
                color:grey;
            }
            .group {
                display:flex;
                padding-top:30px;

                    .border {
                        width:100px;
                        height:101px;
                        border:1px solid grey;
                        border-radius:48% 52% 50% 50% / 51% 44% 56% 49%;
                        margin-right:30px;
                            
                           &.oval{
                                border-radius:7% 93% 49% 51% / 35% 49% 51% 65%;
                                
                            }

                    }
                
            }

            .component {
                text-decoration: none;
               
                .hand {
                    padding-left:20px;
                    padding-top:20px;
                }
                .alert{
                    padding-left:25px;
                }
                .smartphone {
                    padding-left:28px;
                }
                .tv {
                    padding-left:20px;
                    padding-top:28px;

                        &.dot {
                            margin-left:-65px;
                            margin-top:-10px;
                        }
                        &.line {
                            margin-left:-25px;
                            margin-top:-25px;
                        }
                        
                }
                .word {
                    padding-top:20px;
                    margin-left:-8px;
                    margin-right:3px;
                }
            }
            
            .article {
                font-size:10px;
                padding-top:50px;
                padding-right:30px;
                padding-left:20px;
                color:grey;
                text-align:center;
               
            }
            .fees {
                margin-top:-70px;
                padding-left:150px;

                .vat {
                    width:150px;
                }
                .service {
                    width:130px;
                    font-size:10px;
                    color:grey;
                }
                
                .alarm {
                    margin-bottom:20px;
                }
                .particullar {
                    font-size:10px;
                    color:darkblue;
                }

            }
        }
}

.sticker{
    padding-top:120px;
    width:150px;

    .payment {
        padding:10px;
        background-color:rgb(255, 103, 129);
        text-decoration:none;
        font-size:12px;
        color:white;
        border-radius:5px;    
      
    }
    

}   
.tip {
    margin-top:-80px;
}

.duplicate {
    padding-top:80px;
    padding-left:100px;
}
.cookie {
    font-size:10px;
    color:grey;
    text-align:center;
    width:580px;
}
.doc {
    padding-left:20px;
    padding-right:40px;
}
.double{
    margin-top:-40px;
        .new {
            padding-top:22px;
        }

            .info {
                display:flex;
                justify-content:flex-start;
                align-items: center;
            }       
            .bold{
                color:black;
                font-size:12px;
                font-weight:bold;
            }
            .normal {
                color:grey;
                font-size:10px;
            }
            
}
.bank{
    margin-top:-120px;
    padding-left:30px;
    width:250px;
    
}
.social {
    font-size:10px;
    color:grey;
    padding-top:20px;
}
.icons {
    position:relative;
    padding-top:20px;
    display:flex;
    justify-content: space-around;
    align-items:center;
}
.camera{
   position:absolute;
   margin-left:-200px;

    .background-dot{
      margin-left:-26px;
      z-index:20;
    }
    
}
.grey-dot{
    background:rgb(39, 39, 39);
    width:5px;
    height:5px;
    border-radius:50%;
    margin-top:-18px;
    z-index:20;
    margin-left:14px;

}
.facebook{
    margin-top:12px;
}
.white-facebook{
    margin-left:-22px;
}
.you-tube {
    margin-left:-80px;
    margin-top:0px;
}
.triangle{
    width: 0;
	height: 0;
	border-top: 3px solid transparent;
	border-left: 6px solid rgb(48, 47, 47);
	border-bottom: 3px solid transparent;
    margin-top:-18px;
    margin-left:15px;
}

.license {
    padding-top:30px;

}
.forte {
    margin-top:40px;
    margin-left:20px;
    font-size:10px;
    color:rgb(156, 153, 153); 
       
}
.support {
    color:rgb(68, 67, 67);
    margin-left:5px;

 }
.letter {
    margin-left:30px;
    
}












